.header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  color: var(--color-text-main);
  background-color: var(--color-background-main);
  filter: invert(100%);
  border-bottom: var(--border-menu);
}

.logo {
  flex-grow: 1;
}

.dropdowns {
  display: none;
}

@media (--desktop-media) {
  .header {
    padding-left: 50px;
  }

  .dropdowns {
    display: block;
  }
}
