.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  font: var(--font-menu);
  color: var(--color-text-contrast);
  background-color: var(--color-background-contrast);
}
