.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: var(--border-menu);

  &:hover {
    background-color: var(--color-background-menu);
  }
}
