.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;

  & .header {
    font: var(--font-header);
    margin-bottom: 50px;
  }

  & .main {
    width: 100%;
  }
}