.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--font-main);
  padding: 50px 20px;

  & .sectionHeader {
    font: var(--font-header);
    margin: 0 0 50px;
  }

  &.dimmed {
    background-color: var(--color-background-secondary);
  }
}

@media (--desktop-media) {
  .section {
    padding: 70px 50px;
  }
}
