.menu {
  font: var(--font-main);
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  & a {
    display: contents;
  }

  & .text {
    line-height: 25px;
  }

  & .phone {
    display: none;
  }

  & .burger {
    display: block;
  }

  & .chat svg {
    width: 25px;
    height: 25px;
  }
}

@media (--desktop-media) {
  .menu {
    gap: 5px;

    & .phone {
      display: contents;
    }

    & .burger {
      display: none;
    }
  }
}
