@font-face {
  font-family: "SF Pro";
  src: url('/public/fonts/SF-Pro-Text-Regular.otf') format('opentype'),
       url('/public/fonts/SF-Pro-Text-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro";
  src: url('/public/fonts/SF-Pro-Text-Medium.otf') format('opentype'),
       url('/public/fonts/SF-Pro-Text-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro";
  src: url('/public/fonts/SF-Pro-Text-Bold.otf') format('opentype'),
       url('/public/fonts/SF-Pro-Text-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
